name: Test

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      HUGO_CACHEDIR: /tmp/hugo_cache
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1
        with:
          submodules: true
          fetch-depth: 0

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3.0.0
        with:
          hugo-version: '0.153.3'
          extended: true

      - name: Cache Hugo modules
        uses: actions/cache@v5.0.1
        with:
          path: ${{ env.HUGO_CACHEDIR }}
          key: ${{ runner.os }}-hugomod-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-hugomod-

      - name: Get changed markdown files
        id: changed-files
        uses: tj-actions/changed-files@v47.0.1
        with:
          files: |
            content/**/*.md

      - name: Lint changed markdown files
        if: steps.changed-files.outputs.any_changed == 'true'
        uses: DavidAnson/markdownlint-cli2-action@v22
        with:
          globs: ${{ steps.changed-files.outputs.all_changed_files }}
        continue-on-error: true

      - name: Build
        run: hugo --minify

      - name: Setup Tailscale VPN
        uses: tailscale/github-action@v4.1.1
        with:
          oauth-client-id: ${{ secrets.TAILSCALE_CLIENT_ID }}
          oauth-secret: ${{ secrets.TAILSCALE_CLIENT_SECRET }}
          tags: tag:ci

      - name: Setup SSH known hosts
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_KNOWN_HOSTS }}" >> ~/.ssh/known_hosts

      - name: Deploy changes (dry run)
        run: |
          rsync -avzhin --no-perms --delete public/ ${{ secrets.SSH_SERVER_USERNAME }}@${{ secrets.SSH_SERVER_TAILSCALE_IP }}:${{ secrets.SSH_SERVER_BLOG_PATH }}